<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model="todoValue"/>
        <button @click="handleBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#root',
            data: {
                list: [],
                todoValue: ''
            },
            methods: {
                handleBtnClick: function () {
                    console.log(this.todoValue)
                    this.list.push(this.todoValue)
                    this.todoValue = ''
                }
            }
        })
    </script>
</body>
</html>
